
.container {
    margin: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .buttons-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    
  }
  
  .button {
    margin: 5px;
    padding: 10px 20px;
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  .button.clicked {
    background-color: lightblue;
  }
  

  .message {
    margin-top: 20px;
    color: red;
    font-size: 16px;
  }
  